[Desktop Entry]

Type=Application

Encoding=UTF-8

Name=Auto Video

Comment=Create Vietnamese dubbing and subtitles for videos.

Path=/opt/auto-video

Exec=/opt/auto-video/AutoVideo

Icon=auto-video

Terminal=false
